
/* start preloader */
.preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--mainWhite);
    z-index: 999;
}

.hidepreloader {
    display: none !important;
}
/* end preloader */




/* start nav */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    padding-left: 10px;
}

.nav__list {
    padding-left: 0;
    display: flex;
    list-style-type: none;
}

.nav__item {
    padding: 0px 8px;
    font-size: 15px;
}

.nav__link {
    color: var(--mainBlack);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--mainBlue);
}

.nav__media a {
    font-size: 30px;
    padding-right: 10px;
    color: var(--mainBlue);
    text-decoration: none;
    transition: all 0.3s;
}

.nav__media a:hover {
    color: var(--mainBlack);
}

.nav__responsive {
    padding-right: 10px;
    font-size: 30px;
    color: var(--mainBlue);
    display: none !important;
    text-decoration: none;
}

/* end nav */



/* start header */

.header {
    height: calc(100vh - 55px);
    background: url(../images/headerBcg.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    clip-path: polygon(0 0 , 100% 0 , 100% 95% , 50% 100% , 0 95%);
    overflow: hidden;
}


.header__caption {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 40px;
    color: var(--mainWhite);

}

.header__text--1 {
    margin: 0 0 25px 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-left: 5px solid var(--mainBlue);
    padding: 10px;
}

.header__text--2 {
    margin: 0 0 10px 0;
    font-size: 45px;
}

.header__text--3 {
    margin: 0 0 25px 0;
    font-size: 30px;
}

.header__text--4 {
    margin: 0 0 5px 0;
    font-size: 20px;
}

.header__text--5 {
    margin: 0;
    font-size: 35px;
}

.header__text--5 a {
    color: var(--mainBlue);
}
/* end header */







/* start delear */

.delear {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delear__icon {
    background-color: var(--mainGrey);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 75px;
}

.delear__icon i {
    font-size: 50px;
    color: var(--mainYellow);
}

.delear__line {
    width: 80px;
    height: 4px;
    background-color: var(--mainBlue);
}

.delear__caption {
    text-align: center;
    opacity: 0.8;
    width: 75%;
}


/* end delear */






/* start inventory */
#inventory {
    background-color: var(--mainGrey);
}

.btns {
    display: flex;
    justify-content: flex-end;
}

.btns__item {
    border-radius: 5px;
    padding: 10px 15px;
    border: 1px solid #6c757d;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    color: #6c757d;
    cursor: pointer;
    outline: none;
    margin: 5px 3px;
    transition: all 0.3s;
}

.btns__item:hover {
    color: var(--mainWhite);
    background-color: #6c757d;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 3px !important;
    margin: 20px auto;
}

.card__body {
    background-color: var(--mainWhite);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--mainGrey);
    text-transform: uppercase;
}

.card__body__price {
    background-color: var(--mainBlue);
    color: var(--mainWhite);
    clip-path: polygon(20% 0 , 80% 0 , 100% 100% , 0 100%);
    padding: 0 10px;
    transition: all 0.3s;
}

.card__body__price:hover {
    clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);
}

.card__body__price h4 {
    margin: 10px;
}

.card__body__title h4 {
    margin: 30px 0 10px 0;
}

.card__body__title p {
    margin: 10px 0 30px 0;
}

.card__footer {
    display: flex;
    justify-content: space-around;
    background-color: #ece7e7;
}


/* end inventory */








/* start quetion */

#question {
    background: url(../images/questionBcg.jpeg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--mainWhite);
}


.question {
    background-color: rgba(79,109,122,0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin-bottom: 10px;
}

.question--2 {
    background-color: rgba(277,181,5,0.75);
}


.question__icon {
    color: var(--mainBlue);
    font-size: 60px;
    transition: all 0.3s;
}

.question__icon:hover {
    transform: translateY(-10px);
}

.question__text {
    width: 80%;
}

.question__text p {
    color: var(--mainWhite);
}

/* end quetion */





/* start featured */
#featured {
    background-color: var(--mainGrey);
}

.info {
    display: flex;
    text-transform: capitalize;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--mainWhite);
    border-radius: 10px;
    margin-bottom: 10px;
    opacity: 0.3;
    transition: all 0.3s;
}

.info:hover {
    opacity: 1;
    transform: scale(1.1);
}

.info span {
    font-size: 25px;
    padding-left: 20px;
    color: var(--mainYellow);
}

.info h3 {
    padding: 0 10px;
}

.featured-img {
    position: relative;
    background-color: var(--mainBlue);
    overflow: hidden;
}

.featured-img__img {
    transition: all 0.3s;
}

.featured-img:hover .featured-img__img {
    opacity: 0.5;
    transform: scale(1.3);
}

/* end featured */




/* start gallery */
.gallery-item {
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: var(--mainYellow);
}

.gallery-item::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    outline: 0.5rem solid var(--mainWhite);
    outline-offset: -2rem;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.gallery-item__img {
    transition: all 0.3s;
}

.gallery-item:hover::after {
    transform: scale(1);
}

.gallery-item:hover .gallery-item__img {
    opacity: 0.5;
}


/* end gallery */



/* start register */
#registery {
    background: url(../images/headerBcg.jpeg) center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.registery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}

.registery__email {
    border: 1px solid var(--mainYellow);
    background-color: transparent;
    color: var(--mainYellow);
    margin-bottom: 5px;
    outline: none;
    width: 100%;
    height: 50px;
}

.registery__email::placeholder {
    padding-left: 15px;
    color: var(--mainYellow);
}

.registery__submit {
    cursor: pointer;
    background-color: transparent;
    color: var(--mainYellow);
    border: 1px solid var(--mainYellow);
    width: 100%;
    height: 50px;
}

.registery__submit:hover {
    background-color: var(--mainYellow);
    color: var(--mainWhite);
}
/* end register */



/* start services */
#services {
    position: relative;
    min-height: 85vh;
    min-width: 95vw;
    margin: 0 auto;
    clip-path: polygon(0 10%,100% 0,100% 90%,0 100%);
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
}

.video-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--transparentBlue);
    z-index: -3;
}

.service {
    background-color: var(--mainBlack);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 50px;
    margin-bottom: 20px;
    transition: all 0.3s;
}

.service:hover {
    background-color: var(--mainWhite);
    padding-left: 30px;
  
}

.service:hover .service__title {
    color: var(--mainBlack);
}

.service:hover .service__title--2 {
    color: var(--mainBlack);
}

.service__icon {
    font-size: 60px;
    color: var(--mainYellow);
}

.service__title {
    color: var(--mainWhite);
    text-transform: capitalize;
}

.service__title--2 {
    color: var(--mainWhite);
    text-transform: capitalize;
    margin-top: 0;
}
/* end services */




/* start customer */
.customer {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin-bottom: 10px;
}

.customer__cap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customer__img {
    transform: translateY(-40px);
}

.customer__img img {
    border: 8px solid var(--mainWhite);
    border-radius: 50%;
}

.customer__name {
    margin: -30px 0 0 0;
    color: var(--transparentBlue);
    text-transform: capitalize;
    font-weight: 400    ;
}

.customer__job {
    font-weight: 400;
    color: var(--mainGrey);
    text-transform: capitalize;
    margin: 15px 0px 15px;
}

.customer__comment {
    width: 50%;
    text-align: center;
    line-height: 25px;
    color: rgba(0 , 0 , 0 ,0.8);
    margin: 0 0 25px 0;
}

.customer__icon {
    font-size: 35px;
    margin-bottom: 20px;
    color: var(--mainGrey);
}
/* end customer */



/* start footer */
#footer {
    background-color: var(--mainGrey);
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

.footer-list__item {
    font-size: 30px;
}

.footer-list__link {
    color: var(--mainBlack);
    transition: all 0.3s;
}

.footer-list__link:hover {
    color: var(--mainBlue);
}
/* end footer */